<div class="container-fluid">
	<div ng-repeat="field in fields" ng-switch="field.view" class="row p-1">
		<h3 ng-switch-when="section" ng-bind="field.title"></h3>
		<div ng-switch-default class="col-6 col-lg-5 col-xl-4 col-xxl-3" ng-class="{ 'border-bottom border-secondary-subtle': !$last, 'align-text-middle': field.view !== 'visual', 'align-text-top': field.view === 'visual' }">
			<label ng-attr-for="{{field.serial}}" ng-bind="field.title"></label>
		</div>
		<div ng-switch-default class="col-4 col-lg-5 col-xl-6 col-xxl-7" ng-class="{ 'border-bottom border-secondary-subtle': !$last, 'align-text-middle': field.view !== 'visual', 'align-text-top': field.view === 'visual' }">
			<field definition="field" values="values"></field>
		</div>
		<div ng-switch-default class="col-2" ng-switch="field.view">
			<span ng-switch-when="slider" ng-if="field.readonly" ng-bind="values[field.name] + ' ' + field.unit"></span>
			<input ng-switch-when="slider" ng-if="!field.readonly" ng-model="values[field.name]" class="p-0 w-50 d-inline border border-secondary-subtle rounded" ng-model-options="{ updateOn: 'blur' }" numeric-model />
			<span ng-switch-when="slider" ng-if="!field.readonly" ng-bind="field.unit"></span>
			<span ng-switch-default ng-bind="field.unit"></span>
		</div>
	</div>
</div>
