<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Femtoscope</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha3/css/bootstrap.css" integrity="sha512-Oqa9+ZH5hwNBbovQvDTg/J9jXr7z/oaUwyNnJPvbhJkkFFYGPQnDOsI0KOX+KfN/QkyARg1ABRY/eAPk4R7rZg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular-csp.css" integrity="sha512-f7WVHp6iaZ7iOx9duYm67KLwCFJ9KirfMIK0MAOxf1wq5M8Ogdw5ljbCxlk/BtWIbyXWMsIaDaqwUpXttPQ/5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" integrity="sha512-ZnR2wlLbSbr8/c9AgLg3jQPAattCUImNsae6NHYnS9KrIwRdcY9DxFotXhNAKIKbAXlRnujIqUWoXXwqyFOeIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<body ng-app="femtoscope" ng-cloak ng-controller="main">

		<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
			<div class="container-fluid">

				<h1 class="navbar-brand mb-0">
					Femtoscope
					<i class="bi bi-chevron-compact-right"></i>
				</h1>

				<div class="nav-item dropdown collapse navbar-collapse">
					<button class="btn btn-link nav-link dropdown-toggle" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static">
						Functional units
					</button>
					<ul class="dropdown-menu">
						<li>
							<button class="dropdown-item" ng-repeat="unit_type in unit_types track by unit_type.name" ng-bind="unit_type.title" ng-click="add_functional_unit(unit_type)"></button>
						</li>
					</ul>
				</div>

				<bootstrap-theme-selector />

			</div>
		</nav>

		<div class="accordion">

			<form class="accordion-item" ng-repeat="unit in units track by unit.serial">

				<h2 class="accordion-header">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" ng-attr-data-bs-target="{{'#accordion_' + unit.serial}}">
						<input type="text" ng-model="unit.title" class="border-0 m-0 p-0" style="background: transparent;" />
					</button>
				</h2>

				<div class="accordion-collapse collapse show" ng-attr-id="{{'accordion_' + unit.serial}}">
					<div class="container-fluid p-3">
						<analyser ng-if="unit.type === 'analyser'" channels="channels" class="row"></analyser>
						<generator ng-if="unit.type === 'generator'" channels="channels" class="row"></generator>
					</div>
				</div>


			</form>

		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha3/js/bootstrap.bundle.js" integrity="sha512-21i5e7C9dImLFoN36RDhshA0pMFvL5/oRHtuJQTjk2pdmk2uiX4bttWbMNt3UVsfSMCbRKb1+5BI1KGOWeatiw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.js" integrity="sha512-2iwCHjuj+PmdCyvb88rMOch0UcKQxVHi/gsAml1fN3eg82IDaO/cdzzeXX4iF2VzIIes7pODE1/G0ts3QBwslA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.js" integrity="sha512-klc+qN5PPscoGxSzFpetVsCr9sryi2e2vHwZKq43FdFyhSAa7vAqog/Ifl8tzg/8mBZiG2MAKhyjH5oPJp65EA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.js" integrity="sha512-c2T3C9cjX/WQscZb+Qws0CqbPujwNik3JPOzn4r/PwHDYdIVxC+LXOY51+4qAsR2wutl7iC0at47X1EIroFq5A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<script src="app.js"></script>
		<script src="no-cache.js"></script>
		<script src="bootstrap.js"></script>
		<script src="bootstrap-theme-selector.js"></script>
		<script src="bootstrap-dropdown.js"></script>
		<script src="main.js"></script>
		<script src="channel-select.js"></script>
		<script src="field-set.js"></script>
		<script src="field.js"></script>
		<script src="generator.js"></script>
		<script src="analyser.js"></script>

	</body>
</html>
